doctype html
html
  head
    title Agregar Médico
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  body
    .container
      h1.text-center.my-4 Agregar Médico

      form(action='/medicos/crear', method='POST')
        .form-group
          label(for='nombre') Nombre:
          input#nombre.form-control(type='text', name='nombre', required=true)
        
        .form-group
          label(for='apellido') Apellido:
          input#apellido.form-control(type='text', name='apellido', required=true)

        .form-group
          label(for='email') Email:
          input#email.form-control(type='text', name='email', required=true)  

        .form-group
          label(for='especialidad') Especialidad:
          input#especialidad.form-control(type='text', name='especialidad', required=true)

        button.btn.btn-primary(type='submit') Guardar Médico
