doctype html
html(lang="es")
    head
        title Agenda de Consultas Médicas 
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css") 
    body 
        .container.text-center 
            h1.mt-5 "Agenda de Consultas Médicas" 
            .row.mt-4 
                .col-md-6 
                    a.btn.btn-primary.btn-lg(href="/medicos/gestionar-medicos") Gestión de Médicos 
                .col-md-6 
                    a.btn.btn-secondary.btn-lg(href="/turnos") Turnos 
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js") 
        script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")